<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Omega Gateway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div id="overlay">
      <div class="terminal">
        <pre id="intro"></pre>
      </div>
    </div>
    <canvas id="matrix"></canvas>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
  </html>


